*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

h2{
    color: rgb(127, 48, 142);
}
h3{
    color: rgb(105, 70, 112)
}

.content {
    padding: 300px; /* Adds space around the content */
}

/*Header/Nav*/
header {
    padding: 30px 20px;
    padding-bottom: 70px;
    background: #2b0d24;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1111;
}
.nav ul, .nav li{
    margin: 0;
    padding: 0;
}

.nav ul{
    background: transparent;
    list-style: none;
    width: 100;
}

.nav li{
    float: left;
    position: relative;
    width: auto;
    /*padding: 0;
    margin: 0;*/
}

.nav a{
    background: transparent;
    color: hsl(0, 100%, 100%);
    display: block;
    font-weight: bold;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 55px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
}

.nav li:hover a{
    background: #a37097;
}

#submenu{
    left: 0;
    opacity: 0;
    /*width: 100%; \*/
    position: absolute;
    top: 100%;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu{
    opacity: 1;
    top: 100%;
    visibility: visible;
}

#submenu li{
    float: none;
    width: 100%;
}

#submenu a:hover{
    background: #a37097;
}

#submenu a:hover ul.dropdown{
    display: block;
}

#submenu a{
    /*padding: 10px 20px;*/
    display: block;
    background-color: #4c073c;
}

.header__container {
    display: flex;
    align-items: center; 
}
.content {
    padding: 30px;
    justify-content: center;
}

header h1 {
    color: #e0d9de; 
}

/*Gallery*/
.gallery{
    display: inline-block;
    border: 0px solid hsl(0, 0%, 60%);
    margin: 5px;
    width: 200px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 2px solid hsl(0, 0%, 20%);
}
.gallery img{
    width: 100%;
    height: auto;
}

/*Buttons*/
.button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;

	font-size: 1.25rem;
	font-weight: 700;
	text-transform: uppercase;

	padding: 1rem 1.5rem;
	border-radius: 0.5rem;
	background-color: rgb(153, 104, 159);
	color: white;
	margin-bottom: 2rem;
}

#one {
	background-image: linear-gradient(to right, rgb(153, 104, 159) 50%, rgb(14, 11, 15) 50%);
	background-size: 200%;
	transition: 0.4s ease-out;
}

#one:hover {
	background-position: right;
}
/**************************/
.hero{
    width: 80%;
    margin: auto;
}
.navbar{
    margin: 10px auto;
    display: flex;
    align-items: center;
}
ul{
    flex: 1;
    text-align: right;
}
ul li{
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
ul li a{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    position: relative;
}
ul li a::after{
    content: '';
    width: 0;
    height: 10px;
    background: #671a6a;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
}
ul li a:hover::after{
    width: 100%;

}
.banner{
    display: flex;
    margin-top: 80px;
}
.left-column,.right-column{
    flex-basis: 50%;
}
.right-column img{
    width: 600px;
    height: 600px;
}
.left-column h1{
    font-size: 50px;
}
span{
    color: #000000;
}


/*
.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul{
    background: gray;
    list-style: none;
    width: 100;
}

.dropdownmenu li{
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu a{
    background: #000000;
    color: hsl(0, 100%, 100%);
    display: block;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 55px;
    text-decoration: none;
    transition: all 0.25s ease;
}

.dropdownmenu li:hover a{
    background: #34495e;
}

#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu{
    opacity: 1;
    top: 80px;
    visibility: visible;
}

#submenu li{
    float: none;
    width: 100%;
}

#submenu a:hover{
    background: #34495e;
}

#submenu a{
    background-color: #3e1532;
}
*/
