*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-block-size: 100vb;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: hsl(0, 100%, 100%);
    background-color: hsl(0, 0%, 0%);
    padding-left: 71px;
}
/*Header/Nav*/
.container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #34495e; /* example color */
}
header {
    padding: 30px 20px;
    background: #34495e;
    position: sticky;
    top: 0;
    width: 100%;
}
.main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
ul{
    display: flex;
    list-style: none; 
}
nav li{
    padding: 5px 10px;
    border: none;
    display: inline-block;
    padding: 5px;
    transition: all linear 0.5s;
    margin-right: 20px;
}
nav li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    padding: 5px;
}

.nav li:hover a{
    background: #34495e;
}

/*
.header__logo {
    margin: 0; 
    padding: 0;
    width: 60px;
    height: auto;
}

.header__img {
    display: block;
    height: auto;
    max-width: 100%;
    background-color: hsla(0, 0%, 0%, 0.5);
    align-items: left;
}
*/

/*Gallery*/
.gallery{
    display: inline-block;
    border: 0px solid hsl(0, 0%, 60%);
    margin: 5px;
    width: 200px;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 2px solid hsl(0, 0%, 20%);
}
.gallery img{
    width: 100%;
    height: auto;
}
/**************************/
/*
.dropdownmenu ul, .dropdownmenu li{
    margin: 0;
    padding: 0;
}

.dropdownmenu ul{
    background: gray;
    list-style: none;
    width: 100;
}

.dropdownmenu li{
    float: left;
    position: relative;
    width: auto;
}

.dropdownmenu a{
    background: #000000;
    color: hsl(0, 100%, 100%);
    display: block;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 55px;
    text-decoration: none;
    transition: all 0.25s ease;
}

.dropdownmenu li:hover a{
    background: #34495e;
}

#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}

li:hover ul#submenu{
    opacity: 1;
    top: 80px;
    visibility: visible;
}

#submenu li{
    float: none;
    width: 100%;
}

#submenu a:hover{
    background: #34495e;
}

#submenu a{
    background-color: #3e1532;
}
*/
